<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142753093178-rpf6p23p3r3m8fp8u5druu1ijpi5v1l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142753093178-rpf6p23p3r3m8fp8u5druu1ijpi5v1l8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>142753093178-2tscpt9r4jqqr0hcj0hjblig7pdk41ek.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3UXmF3b8_9mrIjM6gvXS4-2U_3vbk4rk</string>
	<key>GCM_SENDER_ID</key>
	<string>142753093178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groundup.fleek</string>
	<key>PROJECT_ID</key>
	<string>fl-dating</string>
	<key>STORAGE_BUCKET</key>
	<string>fl-dating.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142753093178:ios:00af4e327bcc935f694703</string>
	<key>DATABASE_URL</key>
	<string>https://fl-dating.firebaseio.com</string>
</dict>
</plist>